.tip-calculator{
  width: 90%;
  max-width: 500px;
  margin: 0 auto;
}

.tip-cal{
  width: 90%;
  max-width: 500px;
}

h1{
  color: green;
  font-size: 45px;
  text-align: center;
}

.tip{
  color: red;
}

.calculator{
  width: 90%;
  max-width: 400px;
  background-color:  rgb(48, 48, 168);
  color: white;
  font-size: 25px;
  padding: 10%;
  border-radius: 25px;
}

label{
  display: inline-block;
  width: 50%;
  max-width: 400px;
  padding: 2%;
}

input{
  width: 40%;
  max-width: 400px;
  padding: 5px 2%;
  text-align: center;
}

button{
  width: 40%;
  max-width: 400px;
  border: none;
  border-radius: 15px;
  color: white;
  font-size: 20px;
  background-color: rgb(236, 46, 46);
  margin-top: 8%;
  margin-left: 16%;
}
